src/main/mule/ch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f91770d4-3b10-4068-aafc-11a3da7872e8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="chFlow" doc:id="89a36033-68e8-4681-bd93-26b5731d8f40" >
		<http:listener doc:name="Listener" doc:id="6749a9d3-3f72-4bec-82d4-721a9275ead9" config-ref="HTTP_Listener_config" path="/ch"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="dadc0425-fe2c-48f4-8dc8-953509691286" />
	</flow>
</mule>
